html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
  }
 
textarea.config {
  width: 100%;
}

p.config {
  text-align: left;
  word-wrap: break-word;
}